/* Globales */
:root{
    --negro: #000; 
    --amarillo:#FFC720;
    --amarillofuerte: #FFBF00; 
    --amarillosuave: #FFD760;
    --blanco: #FFF;
    --verde: #03fc45;
    --rojo: #cc0000;
    --amarillotransparente: rgba(255, 153, 0, 0.8);
    --tarjeta: #ffdb38;
    --gris: #666666;
    --grisclaro: #f2f2f2;

    /* Fuentes */

    --principal: 'Roboto', sans-serif;
    --secundaria: 'Reem Kufi', sans-serif;

    /* Utilidades */

    --sombreado: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--negro);
    font-family: var(--principal)
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1{
    font-size: 4.5rem;
}

.contenedor{
    max-width: 120rem;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}


/* CSS */

/* ***************************** HEADER ***************************** */

.header{
    width: 100%;
    height: 9rem;
    position: fixed;
    top: 0;
    background-color: var(--blanco);
}

/* ***************************** NAVBAR ***************************** */

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: var(--sombreado);
    box-shadow: var(--sombreado);
}

/* ***************************** NAVBAR - titulo ***************************** */

.navbar__titulo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar__titulo a{
    font-size: 4rem;
    color: var(--amarillofuerte);
}

.navbar__titulo span{
    color: var(--amarillosuave);
}

.navbar__logo{
    width: 15%;
}

/* ***************************** NAVBAR - links ***************************** */

.navbar__links{
    height: 100%;
}

.navbar__links-list{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}


.navbar__links-list a{
    font-size: 1.8rem;
    color: var(--negro);
}


.navbar__links-list a:hover{
    color: var(--amarillofuerte);
    transition: .6s;
}

/* ***************************** NAVBAR - botón ***************************** */

.navbar__button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__button-lost{
    background-color: var(--amarillo);
    font-size: 2rem;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.navbar__button-lost a:hover{
    color: var(--negro);
    transition: .6s;
}

.navbar__button-lost:hover{
    -webkit-box-shadow: var(--sombreado);
    box-shadow: var(--sombreado);
    transition: .6s;
    cursor: pointer;
}

/* ***************************** NAVBAR - botón-hamburguesa ***************************** */

.hamburger-btn{
    display: none;
    width: 5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1.3rem;
}

.hamburger-btn span{
    display: block;
    background-color: var(--amarillofuerte);
    height: .2rem;
    width: 2.5rem;
    margin: 1rem auto;
    border-radius: .2rem;
}

/* ***************************** SECCIONES - títulos ***************************** */

.about__info-titulo,
.personas__titulo,
.tarjeta__info-titulo,
.beneficios__titulo,
.app__info-titulo{
    font-family: var(--secundaria);
    font-size: 4.3rem;
    color: var(--amarillofuerte);
}


/* ***************************** SECCION: NOSOTROS ***************************** */

.about{
    margin-top: 16rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ***************************** NOSOTROS - imagen ***************************** */

.about__imagen{
    object-fit: cover;
    object-position: center;
    width: 36rem;
    border-radius: 100%;
}

/* ***************************** NOSOTROS - información ***************************** */

.about__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.about__info-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emoji__rocket{
    font-size: 3.5rem;
}

.about__info-texto{
    font-size: 2.5rem;
    text-align: center;
}

/* ***************************** NOSOTROS - Botón ***************************** */

.about__info-btn{
    border: none;
    background-color: var(--amarillosuave);
    font-size: 2.5rem;
    padding: 1rem 3rem;
    border-radius: 6rem;
}

.about__info-btn a{
    color: var(--negro);
}

.about__info-btn:hover{
    background-color: var(--amarillofuerte);
    -webkit-box-shadow: var(--sombreado);
    box-shadow: var(--sombreado);
    cursor: pointer;
    transition: .6s;    
}

/* ***************************** SECCIÓN - PERSONAS ***************************** */

.personas{
    margin-top: 8rem;
    margin-bottom: 8rem;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* ***************************** PERSONAS - imagen ***************************** */

.pesona__imagen{
    width: 32rem;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/* ***************************** PERSONAS - titulo ***************************** */

.personas__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;  
}

/* ***************************** PERSONAS - información ***************************** */

.personas__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.personas__texto{
    font-size: 2.5rem;
    text-align: center;
}


.personas__stats{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.stats{
    text-align: center;
}

.stats__titulo{
    font-family: var(--secundaria);
    color: var(--amarillofuerte);
}

.stats__parrafo{
    color: var(--verde);
    font-weight: bold;
}

/* ***************************** PERSONAS - botón ***************************** */

.personas__info-btn{
    border: none;
    background-color: var(--amarillosuave);
    font-size: 2.5rem;
    padding: 1rem 3rem;
    border-radius: 6rem;
}

.personas__info-btn:hover{
    background-color: var(--amarillofuerte);
    -webkit-box-shadow: var(--sombreado);
    box-shadow: var(--sombreado);
    cursor: pointer;
    transition: .6s;   
}

/* ***************************** SECCIÓN - TARJETA ***************************** */

.tarjeta{

    margin-top: 8rem;
    margin-bottom: 8rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4rem;
}


/* ***************************** TARJETA - informacion ***************************** */

.tarjeta__info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2.5rem;
}

.tarjeta__info-titulo{
    display: flex;
    gap: 1rem; 
}

.tarjeta__info-párrafo{
    font-size: 2.5rem;
    text-align: center;
}

/* ***************************** TARJETA - botón ***************************** */

.tarjeta__info-btn{
    border: none;
    background-color: var(--amarillosuave);
    font-size: 2.5rem;
    padding: 1rem 3rem;
    border-radius: 6rem;
}

.tarjeta__info-btn:hover{
    background-color: var(--amarillofuerte);
    -webkit-box-shadow: var(--sombreado);
    box-shadow: var(--sombreado);
    cursor: pointer;
    transition: .6s;
}

/* ***************************** SECCIÓN: BENEFICIOS ***************************** */

.beneficios{

    margin-top: 8rem;
    margin-bottom: 8rem;
}

/* ***************************** BENEFICIOS - información ***************************** */

.beneficios__titulo{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--amarillofuerte);
}

/* ***************************** BENEFICIOS - catálogo ***************************** */

.beneficios__catalogo{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

/* ***************************** BENEFICIOS - muestra ***************************** */

.beneficios__muestra{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.beneficios__muestra-titulo{
    text-align: center;
    font-family: var(--secundaria);
    color: var(--amarillofuerte);
    font-size: 3rem;
}

.beneficios__muestra-parrafo{
    font-size: 1.8rem;
    text-align: center;
}

/* ***************************** BENEFICIOS - iconos ***************************** */

.icono{
    width: 10rem;
    object-fit: contain;
    object-position: center;
    background-color: var(--amarillofuerte);
    border-radius: 8rem;
    padding: 1rem;
}

/* ***************************** SECCION: APP ***************************** */

.app{

    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***************************** APP - información ***************************** */

.app__info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.app__info-titulo{
    text-align: center;
}

.app__info-texto{
    font-size: 2.5rem;
    text-align: center;
}

/* ***************************** APP - botón ***************************** */

.btn-downland{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.apple__logo{
    width: 25rem;
}

.play__logo{
    width: 25rem;
}

/* ***************************** SECCION: FOOTER ***************************** */

.footer{
    width: 100%;
    height: 35rem;
    background: var(--grisclaro)
}

/* ***************************** FOOTER: contenido ***************************** */

.footer__contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ***************************** FOOTER: contenido - redes ***************************** */

.footer__contenido-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.footer__contenido-redes-titulo{
    font-size: 2rem;
}

/* ***************************** FOOTER: redes ***************************** */

.redes{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ***************************** FOOTER: link-redes ***************************** */

.redes a{
    color: var(--negro)
}

.fa-facebook-square:hover{
    color: #3b5998;
    transition: .6s;
    cursor: pointer;
}

.fa-twitter-square:hover{
    color: #1da1f2;
    transition: .6s;
    cursor: pointer;
}

.fa-reddit-square:hover{
    color: #ff4500;
    transition: .6s;
    cursor: pointer;
}

.fa-discord:hover{
    color: #7289da;
    transition: .6s;
    cursor: pointer;
}

.redes a .fa-discord{
    margin-top: .7rem;
}

/* ***************************** FOOTER: párrafo ***************************** */

.footer__contenido-texto{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__contenido-texto-titulo{
    color: var(--amarillo);
    font-size: 5rem;
}

.footer__contenido-texto-titulo span{
    color: var(--amarillosuave);
}

.footer__contenido-texto-parrafo{
    text-align: center;
    font-size: 1.5rem;
}


/* ***************************** FOOTER: links-extras ***************************** */

.footer__contenido-links-titulo{
    font-size: 2rem;
}

.footer__contenido-links-lista{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer__contenido-links-lista a{
    color: var(--gris);
}


/* *************************************** MEDIAQUERIES *************************************** */

@media (max-width:767px) {

    /* *************HEADER*************** */

    .header{
        height: 100%;
        position: relative;
    }

    /* *************NAVBAR*************** */

    .navbar{
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        
    }

    .navbar__titulo{
        margin-right: 4rem;
    }

    .navbar__titulo h1 a{
        font-size: 4rem;
    }
    
    .navbar__logo{
        width: 3rem;
    }

    .navbar__button{
        margin-bottom: 2rem;
    }

    .navbar__links,
    .navbar__button{
        margin-top: 2rem;
        display: none;
    }

    .navbar__links-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__links-list a{
        font-size: 1.5rem;
    }

    .navbar__button-lost{
        font-size: 1.5rem;
        margin-right: 0;
    }

    /* *************BOTON HAMBURGUESA*************** */

    .hamburger-btn{
        display: block;
        position: absolute;
        top: 4px;
        right: 11px;
    }

    .navbar__links.activado,
    .navbar__button.activado{
        display: flex;
    }

    /* *************NOSOTROS*************** */

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
    }

    .about__imagen{
        width: 25rem;
    }

    .about__info-titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.7rem;
        margin-top: 2rem;
    }

    .emoji__rocket{
        font-size: 2.5rem;
    }

    .about__info-texto{
        font-size: 1.7rem;
    }

    .about__info-btn{
        font-size: 1.5rem;
    }

    /* *************PERSONAS*************** */

    .personas{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    .persona__imagen{
        width: 27rem;
    }

    .personas__titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.7rem;
    }

    .personas__texto{
        text-align: center;
        font-size: 1.7rem;
    }

    .personas__info-btn{
        font-size: 1.5rem;
    }

    .personas__stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        gap: 2rem;
        
    }

    /* *************TARJETA*************** */

    .tarjeta{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .tarjeta__info{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tarjeta__info-titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2.7rem;
    }

    .tarjeta__info-párrafo{
        font-size: 1.7rem;
    }

    .tarjeta__info-btn{
        font-size: 1.5rem
    }

    .dogecard{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dogecard__imagen{
        width: 90%;
    }

    /* *************BENEFICIOS*************** */

    .beneficios__titulo{
        font-size: 3rem;
    }
    .beneficios__catalogo{
        display: flex;
        flex-direction: column;
    }

    .beneficios__muestra{
        width: 100%;
    }

    .beneficios__muestra-titulo{
        font-size: 2rem;
    }

    .beneficios__muestra-parrafo{
        font-size: 1.5rem;
    }

    /* *************APP*************** */

    .app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .app__imagen{
        width: 30rem;
    }

    .app__info-titulo{
        font-size: 2.7rem;
    }

    .app__info-texto{
        font-size: 1.5rem;
    }

    .btn-downland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apple__logo,
    .play__logo{
        width: 15rem;
    }

    /* *************FOOTER*************** */
    .footer{
        height: 100%;
    }
    .footer__contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer__contenido-redes-titulo{
        font-size: 1.8rem;
    }

    .footer__contenido-texto{
        width: 100%;
    }

    .footer__contenido-texto-titulo{
        font-size: 2.5rem;
    }

    .footer__contenido-texto-parrafo{
        font-size: 1.5rem;
    }

    .footer__contenido-links-titulo{
        font-size: 1.8rem;
        text-align: center;
    }

    .footer__contenido-links-lista{
        justify-content: center;
        align-items: center;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {

    .header{
        height: 100%;
        position: relative;
    }

    /* ********** NAVBAR ********** */

    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: 100%;
    }

    .navbar__titulo{
        width: 100%;
        height: 6rem;
    }

    .navbar__logo{
        width: 5rem;
    }

    .navbar__links,
    .navbar__button{
        display: none;
    }

    .navbar__button{
        margin-bottom: 2rem;
    }
    
    /* ********** NAVBAR-BUTTON HAMBURGER ********** */

    .hamburger-btn{
        display: block;
        position: absolute;
        top: 4px;
        right: 11px;
    }

    .navbar__links.activado,
    .navbar__button.activado{
        display: flex;
    }

    /* ********** ABOUT ********** */

    .about{
        margin-top: 4rem;
    }

    .about__info-titulo{
        font-size: 3.5rem;
        text-align: center;
        flex-direction: column;
    }

    .about__info-texto{
        font-size: 2rem;
    }

    .emoji__rocket{
        font-size: 2.5rem;
    }

    .about__info-btn{
        font-size: 1.6rem;
    }

    /* ********** PERSONAS ********** */

    .persona__imagen{
        object-fit: contain;
        width: 36rem;
    }

    .personas__titulo{
        text-align: center;
        font-size: 3.5rem;
    }

    .personas__texto{
        font-size: 2rem;
    }

    .personas__info-btn{
        font-size: 1.6rem;
    }

    .personas__stats{
        font-size: 2rem;
    }

    /* ********** TARJETA ********** */

    .dogecard__imagen{
        width: 36rem;
    }

    .tarjeta__info-titulo{
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
    }

    .emoji__card{
        font-size: 2rem;
    }

    .tarjeta__info-párrafo{
        font-size: 2rem;
    }

    .tarjeta__info-btn{
        font-size: 1.6rem;
    }

    /* ********** BENEFICIOS ********** */

    .beneficios__titulo{
        font-size: 3.5rem;
    }

    .beneficios__muestra-titulo{
        font-size: 2rem;
    }

    .beneficios__muestra-parrafo{
        font-size: 1.6rem;
    }

    /* ********** APP ********** */

    .app__imagen{
        width: 36rem;
    }

    .app__info-titulo{
        font-size: 3.5rem;
    }

    .app__info-texto{
        font-size: 2rem;
    }

    .btn-downland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apple__logo,
    .play__logo{
        object-fit: cover;
        object-position: center;
        height: 8rem;
        width: 14rem;
    }

    /* ********** FOOTER ********** */

    .footer__contenido-redes-titulo,
    .footer__contenido-texto-parrafo,
    .footer__contenido-links-titulo,
    .footer__contenido-links-lista a{
        font-size: 1.5rem;
    }

    .footer__contenido-texto-titulo{
        font-size: 4rem;
    }

}